.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--clr-2);
  border: 1px solid var(--clr-border-100);
  border-radius: var(--br-md);
  animation: gradient 10s ease infinite;

  &:hover {
    border:1px solid transparent;
    background: linear-gradient(var(--clr-2) 0 0) padding-box,
      var(--gradient-primary) border-box;
    background-size: 400% 400%;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  // aspect-ratio: 4/2;
  height:150px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.content {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
}

.tags {
  display: flex;
  gap: 0.8em;

  span {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--clr-primary-500);
    font-size: 0.75rem;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}