.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: var(--clr-2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  border-radius:var(--br-md);
  animation: gradient 10s ease infinite;
  &:hover {
    background: linear-gradient(var(--clr-4) 0 0) padding-box,
      var(--gradient-primary) border-box;
    background-size: 400% 400%;
  }
}

.title {
  text-transform: capitalize;
  font-weight:bold;
}

.tags {
  display: flex;
  gap: 0.8em;

  span {
    text-transform: capitalize;
    font-weight:bold;
    color: var(--clr-primary-500);
    font-size: 0.75rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}