.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: var(--clr-2);
  border: 1px solid var(--clr-border-100);
  padding: 1.25em;
  border-radius:var(--br-md);
  animation: gradient 10s ease infinite;
  position:relative;
  &:hover {
    background:var(--gradient-primary);
    border: 1px solid transparent;
    background-size: 200% 200%;
    color:white;
    .description, .arrow {
      color: white;
      opacity: 1;
    }
  }
}

.category {
  svg{
  width:25px;
  height:25px;
  }
}

.arrow {
  width:20px;
  height:20px;
  float:right;
  align-self: flex-end;
  color:var(--clr-text-100);
  opacity: 0.2;
}

.title {
  text-transform: capitalize;
  font-weight: 700;
}
.description {
  font-size:0.875rem;
  color:var(--clr-text-200);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}