@use "styles/variables";
@use "styles/mixins" as *;

//#region Reset

// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
//#endregion

//#region Globals

html {
  // scrollbar-gutter:stable;
  background: var(--background-gradient);
  background-image: var(--background-gradient);
}

// body {
//   background: var(clr-background-100);
//   background-image: var(--background-gradient);
// }

.container {
  width: calc(100% - 2.5rem);
  max-width: 1400px;
  margin: auto;
  // border:1px dotted red;
  @include tablet {
    width: calc(100% - 2rem);
  }
  // @include mobile {
  //   width: calc(100% - 1rem);
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  color: var(--clr-text-100);
  text-decoration: none;
  &:hover {
    cursor:default;
  }
}

a:hover {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0;
}

.logo {
  fill: var(--clr-text-100);
  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 16px;
  background: var(--gradient-primary) border-box;
  background-size: 200% 200%;
  color: var(--clr-text-100);
  font-weight: 600;
  font-size:0.875rem;
  border: 1px solid transparent;
  border-radius: var(--br-md);
  animation: gradient 10s ease infinite;
  text-decoration: none;
  text-transform: capitalize;
  color:white;
  &:hover {
    cursor: pointer;
    background: linear-gradient(var(--clr-3) 0 0) padding-box,
      var(--gradient-primary) border-box;
    background-size: 400% 400%;
    color:var(--clr-text-100);
  }
}

.btn-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  background: var(--clr-2);
  background-size: 200% 200%;
  font-weight: 600;
  border: 1px solid var(--clr-border-100);
  border-radius: var(--br-md);
  animation: gradient 10s ease infinite;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
    background: linear-gradient(var(--clr-3) 0 0) padding-box,
      var(--gradient-primary) border-box;
    background-size: 400% 400%;
  }
}

// duplicate in logo.module.scss, nav.module.scss, card.module.scss
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  input {
    // background: var(--clr-gray-400);
    border: 1px solid var(--clr-gray-100);
    border-radius: var(--br-md);
    padding: 0.25rem 0.5rem;
    outline: none;
    &:focus {
      // background-color: var(--clr-gray-400);
      outline: none;
      border: 1px solid var(--clr-text-300);
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--clr-gray-500) inset !important;
    box-shadow: 0 0 0 30px var(--clr-gray-400) inset !important;
    -webkit-text-fill-color: var(--clr-text-100) !important;
  }
}

.gradient-link {
  background: transparent;
  background-size: 200% 2px;
  padding-bottom: 2px; //controls height
  animation: gradient 10s ease infinite;
}
li:hover .gradient-link {
  background: var(--gradient-primary) border-box;
  background-size: 200% 2px;
}


.grid {
  --grid-gap: 1.5rem;
  --col-width: minmax(Min(20em, 100%), 1fr);

  display: grid;
  grid-template-columns: repeat(auto-fit,var(--col-width));
  grid-gap: var(--grid-gap);
  // grid-template-rows: masonry;
}

//#endregion




//#region button test
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  background: var(--clr-gray-400);
  border: 1px solid transparent;
  border-radius: 7px;
  margin:auto;
  position: relative;
  transition: all 0.2s ease 0s;
  &:hover {
    cursor: pointer;
    background: var(--clr-gray-600);
    &:after {
    filter: blur(5px);
    transition: all 0.2s ease 0s;
}
  }
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  inset: -3px;
  z-index: -1;
  transition: all 0.2s ease 0s;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: 9.5px;
  animation: rotation 5s linear infinite;
}


//#endregion


//#region gradient test 
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card {
  height: 60vh;
  aspect-ratio: 1 / 1.5;
  background: var(--clr-gray-400);
  border-radius: 0.5rem;
  margin:auto;
  position: relative;
  margin-bottom: 500px;
  margin-top:100px;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-primary-500),
    var(--clr-secondary-500),
    var(--clr-tertiary-500),
    var(--clr-secondary-500),
    var(--clr-primary-500)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.card::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}


//card 2
.card2 {
  height: 60vh;
  aspect-ratio: 1 / 1.5;
  background: var(--clr-gray-600);
  border-radius: 0.5rem;
  margin:auto;
  position: relative;
  margin-bottom: 500px;
  margin-top:100px;
}

.card2::before,
.card2::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 5s linear infinite;
}

.card2::after {
  filter: blur(3rem);
}

//#endregion

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-text-100);
  text-transform: uppercase;
  font-size: var(--fs-200);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.5px;
  svg {
    width:40px;
  }
  a {
    text-decoration: none;
    display: flex;
    gap:0.5em;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.3em;
    }
    
    svg {
      width: 8px;
    }
  }
}



.iconGradient {
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;

  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;

  mask-image: none; // fallback
  -webkit-mask-image: none;
}

.iconGradient > svg {
  position: absolute;
  width: 100%;
  height: 100%;

  mask: url(#svgMask);
  -webkit-mask: url(#svgMask);
  display: block;
  fill: black;
  color: black;
}