.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1em;
  border-radius:var(--br-md)
}

.title {
  text-transform: capitalize;
  font-weight:bold;
}

.tags {
  display: flex;
  gap: 0.8em;

  span {
    text-transform: capitalize;
    font-weight:bold;
    color: var(--clr-primary-500);
    font-size: 0.75rem;
  }

}
