@import "styles/mixins";

.navbar {
  display:flex;
  padding:1em 0em;
  align-items: center;

  ul {
    list-style-type: none;
    margin:0 0 0 auto;
  }
  
  a { 
    text-decoration: none;
    color:var(--clr-neutral-100);
    text-transform: capitalize;
  }
}

.rightAlign {
  margin-left:auto;
  display:flex;
  align-items: center;
  gap:1em;
}