.navbar {
  background:transparent;
  ul {
    list-style-type: none;
    align-items: center;
    display:flex;
    justify-content: space-between;
    gap:1em;
    margin:0 auto;
    padding:1em;
  }
  a {
    text-decoration: none;
    color:white;
  }
  .primary, .secondary {
    margin:0px;
    justify-content: flex-end;
    padding:0em;
    text-transform: capitalize;
  }
  .primary{
    gap:1.4em;
  }
}

.userIcon {
  border-radius:100px;
  width:32px;
}
