.navbar {
  background:var(--clr-secondary-200);
  ul {
    list-style-type: none;
    align-items: center;
    display:flex;
    gap:1em;
    margin:0 auto;
    padding:1em;
  }
  a {
    text-decoration: none;
    color:white;
  }
  .logo {
    margin-right:auto;
    width:180px;
  }
}