@import "styles/mixins";

.primaryMenu, .userMenu {
  flex: 1;
  display:flex;
  gap:1em;
  align-items: center;
  @include tablet() {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }
}

.userMenu {
  justify-content: flex-end;
}


.avatar {
  border-radius:100px;
  width:32px;
}


.searchButton {
  display:block;
  width:25px;
  height:25px;
  color:white;
  &:hover {
    color:var(--gradient-primary);
    cursor:pointer;
  }
}
