@use "styles/mixins" as *;

.primaryMenu, .userMenu {
  flex: 1;
  display:flex;
  gap:1em;
  align-items: center;
  @include tablet() {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }
}

.userMenu {
  justify-content: flex-end;
}

.link {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    color: var(--clr-text-100);
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: var(--br-md);
    animation: gradient 10s ease infinite;
    text-decoration: none;
    text-transform: capitalize;
  &:hover {
    background: rgba(255, 255, 255, 0.03);
  }
}

.avatar {
  border-radius:100px;
  width:32px;
}


.searchButton {
  display:block;
  width:25px;
  height:25px;
  color:white;
  &:hover {
    color:var(--gradient-primary);
    cursor:pointer;
  }
}
